.playStoreBtn {
   @apply bg-yellow-dand 
  text-black-txt 
  drop-shadow-lg
  rounded;
}

/******* MOBILE SCREEN  ********/
/* .playStoreBtn {
   @apply mb:bg-black;
} */

/******* SM SCREEN  ********/

.playStoreBtn {
   @apply relative
    min-w-[8rem]
    min-h-[3rem]
    /* MOBILE SCREEN */
   /* SMALL SCREEN */
   /* MEDIUM SCREEN */
   md:w-36 md:h-16
   /* LARGE SCREEN */
   /* EXTRA LARGE SCREEN */
   /* 2x EXTRA LARGE SCREEN */
   2xl:w-40 2xl:h-16
   transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}

.playStoreBtn h1 {
   @apply 
   absolute 
   inline-block 
   /* MOBILE SCREEN */
   mb:text-sm
   mb:right-4
   /* SMALL SCREEN */
   sm:text-sm 
   sm:right-4
   /* MEDIUM SCREEN */
   md:text-base
   md:right-5
   /* LARGE SCREEN */
   /* EXTRA LARGE SCREEN */
   /* 2x EXTRA LARGE SCREEN */
   2xl:text-base;
}

.playStoreBtn p {
   @apply 
   absolute
   inline-block
   /* MOBILE SCREEN */
   mb:text-xs
   mb:right-3 
   mb:bottom-6
   /* SMALL SCREEN */
   sm:text-xs 
   sm:right-2 
   sm:bottom-6
   /* MEDIUM SCREEN */
   md:text-sm
   md:right-3 
   md:bottom-8
   /* LARGE SCREEN */;
}

.playStoreBtn svg {
   @apply 
   absolute 
   inline-block 
   /* MOBILE SCREEN */
   mb:left-2 mb:top-4
   /* SMALL SCREEN */
   sm:left-3 sm:top-4
   /* MEDIUM SCREEN */
   md:w-6 md:h-6
   md:left-2 md:top-5
   /* LARGE SCREEN */
   /* EXTRA LARGE SCREEN */
   /* 2x EXTRA LARGE SCREEN */
   2xl:w-7 2xl:h-7
   2xl:left-3 2xl:top-5;
}

/******* SM SCREEN  ********/
/******* MD SCREEN  ********/
/******* LG SCREEN  ********/
/******* XL SCREEN  ********/
